/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-ago-2019, 16:07:26
    Author     : FERNANDO
*/

:root{
    --rojo:#695E4B;
    --azul:#3C6980;
    --beis: #CEC0A0;

    --naranja: #ec673b;
    --plomo: #b3aa9a;
    --titulo-color:#6e2736;
    --color-boton: #ad1c62;
    --color-talento: #18b2a8;
    --azul-rgba:rgba(60,105,128,.6);
    --naranja-rgba:rgba(236,103,59,.6);
    /*--color-boton: #62438f;*/
}
