
/* -----------------------INICIO ESTILOS DE DISENIO SITIO PRIVADO --------------------------------*/

/*-------- INI MENU HORIZONTAL ARRIBA------*/

.rojo{
    
    border:2px solid red;
}
.menu_horizontal {
    text-align:center;
    font-family:Verdana,Arial,sans-serif;
    font-size:12px;
    borderr: 2px black solid;
    /*background:transparent;*/
    /*background:url(imgs/fondo_menu.jpg) repeat-x;*/
    margin:0 auto;
    background:#0f2d7c;
    
    
}
.menu_horizontal ul {
    margin:0 auto 0 auto;
    list-style-type: none;
    /*agregado*/
    text-decoration:none;
}
.menu_horizontal ul li   {
    float:left;
    position:relative;
    height:50px;
    color:#000;
    line-height:35px;
    

}
.menu_horizontal ul li.principal {
    /*es lo mismo k arriba creo*/
    border-left: 1px solid #5f5846;
    


}
.menu_horizontal ul li a, .menu_horizontal ul li a:visited {
    display:block;
    text-decoration:none;

    text-align:center;
    width:140px;
    height:50px;
    color:#fff;
    line-height:50px;
    font-weight: 500;
    text-transform: uppercase;
    font-family:Calibri;
    font-size:15px;

}

/*.menu_horizontal li:hover > ul {
display:block;
}*/


* html .menu_horizontal ul li a, .menu_horizontal ul li a:visited {
    width:120px; /* ancho cambio*/
    white-space: pre-wrap;


}
.menu_horizontal ul li ul {
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    height:0;
    ooverflow:hidden;
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-size:15px;

}
.menu_horizontal table {
    margin:-1px;
    border-collapse:collapse;

}
/* fist line style for IE7 and non-IE browsers and the second line for IE5.5 and IE6 */
.menu_horizontal ul li:hover a, .menu_horizontal ul li a:hover {
    border:0;
    height:50px;
    line-height:50px;

    /*mm*/
    /* background-color: #bdaf8c; */
    /*background-color: rgba(250, 173, 25, 0.1);*/
    background-color: #EE6F37;
    width:140px; /* ancho cambio*/

    text-decoration:underline;
}

.menu_horizontal ul li:hover ul, .menu_horizontal ul li a:hover ul {
    visibility:visible;
    width:auto;
    height:auto;
    position:absolute;
    /*mm*/
    top:35px;
    /*border:1px solid #333333;*/
    /*left:-1px;*/
    /*background:transparent;*/


    overflow:visible;


}

.menu_horizontal ul li ul li {
    /*mm*/
    /*height:40px;*/
    /*line-height:30px;*/
    background:#ec673b;


    /*mm*/
    /*border-bottom: 1px solid #789BB1;*/
    /*border-top: 1px solid #789BB1;*/
    vertical-align: middle;

    /*height: 60px;*/


    /*mm  el fondo verdadero*/
    background-color: #ec673b;
}


.menu_horizontal ul li:hover ul li a, .menu_horizontal ul li a:hover ul li a {
    text-align:left;

    padding-top: 7px;
    /*padding-bottom: 2px;
    */


    padding-left:10px;
    padding-right: 10px;
    display:block;
    background:transparent url(img/over.jpg);
    text-decoration:none;
    /*color:#ffffff;*/


    /*
    height:30px;
    line-height:30px;
    */
    width:100px; /* ancho cambio*/
    white-space: pre-wrap;
    line-height:normal;
    vertical-align: middle;





}
.menu_horizontal ul li:hover ul li a.drop, .menu_horizontal ul li a:hover ul li a.drop {
    display:block;
    color:#333333;
    white-space: pre-wrap;
    vertical-align: middle;
    /*mm*/
    /*
    height:30px;
    line-height:30px;*/
    /*padding:10px;*/
    /*width:120px;*/



}

.menu_horizontal ul li:hover ul li a.drop2, .menu_horizontal ul li a:hover ul li a.drop2 {
    display:block;
    color:#333333;

    white-space: pre-wrap;
    vertical-align: middle;
    /*mm*/
    /*
    height:30px;
    line-height:30px;*/
    /*padding:10px;*/
    /*width:120px;*/
    /*
    background-color: #a9b8bf;
    */
    /*mm*/
    background-color: #a9b8bf;

}


.menu_horizontal ul li:hover ul li ul, .menu_horizontal ul li a:hover ul li a ul {
    visibility:hidden;
    pposition:absolute;
    top:0;
    left:0;
    height:0;
    overflow:hidden;


}
.menu_horizontal ul li:hover ul li a:hover, .menu_horizontal ul li a:hover ul li a:hover {
    color:#FFFFFF;
    /*hover al rectangulo*/
    /*background-color: aqua;*/
    /*mm hover*/
    width:140px ;
    background-color: #EE6F37;

}


/*-------- FIN MENU HORIZONTAL ARRIBA------*/

html
{        
    margin:0;
    padding:0;
    text-align:center;
}
body
{                
    margin:0;
    padding:0;
    text-align:center;
}
#contenedor
{
    text-align:left;
    width:100%;
    margin-left:auto;margin-right:auto;
    /*genericos*/
    font:normal 1em Tahoma,Arial,Verdana;text-align: justify;
}

#cabeza{
    /* background: #fff; */
    width: 100%;
    /*height: 180px;*/
    float: left;


}
#cabeza_menu_arriba{
    width: 100%;
    background:#EC673B;
    float: left;  
    
}
#cuerpo{
    width: 100%;
    min-height: 450px;
    float: left;

}
#cuerpo_izq{
    background-color: #ecf0f5;
    width: 20%;
    height: 400px;
    float: left;

}
#cuerpo_cen{
    width: 100%;
    float: left;
    font-family:Verdana,Arial;
    font-size: 12px;

}
#cuerpo_der{
    background-color: #cbea75;
    width: 20%;
    height: 400px;
    float: right;

}
#pie{

    width: 100%;
    height: 50px;
    float: left;
}
#cabeza_titulos{
    width: 100%;
    /*height: 60px;*/
    padding: 0px 0px;
    float: left;
    /* background-color: #eeeeee;    */
        height:260px;
    background-image: url('../img/privado/cabecera.jpg');
      background-repeat: repeat;
      background-attachment: fixed;
      background-position: center top; 
      background-size: 100% auto;

}
#listado{
    display: block;
    width: 100%;
    /*float: left;*/ /*se borro por el menu*/

}
#cabecera_listado{
    /* background-color: #f7f7f7; */
    background-color: #AFA694;
    border: solid 1px #d8d8d8;
    padding: 10px 5px;
    text-align: left;

}
#pie-etika{
    width: 100%;
    background-image: url('../img/privado/footer.jpg');
      background-repeat: repeat-y;
      background-attachment: fixed;
      background-position: center top; 
      background-size: 100% auto;

}
.cabecera_titulo{
    font-size: 16px;
    font-weight: bolder;
    /* color: #0f2d7c; */
    color: #AD1C62;
    text-align: center;


}
.cabecera_accion{
    font-size: 16px;
    font-weight: bold;
    /* color: #a9b8bf; */
    color: rgba(173, 28, 98, 0.5);      /*#AD1C62*/
}

.cabecera_listado{
    /*
    border: 1px solid #514a44;
    */
    /* background-color: #514a44; */
    /* background-color: #5f5846; */
    background-color: #AFA694;
    color: #fff;
    padding: 5px 5px;
    font-weight:700;

}
.tabla_listado{
    border: 0px;

}
.tabla_listado td,.tabla_listado th{
    border: 1px solid #f2f2f2;
    padding: 2px;

}
.fila-color-1{
    background-color: #fff;
}
.fila-color-2{
    background-color: #F1F1F1;
}
/* -----------------------FIN ESTILOS DE DISENIO SITIO PRIVADO --------------------------------*/


/* ----------------------- INICIO ESTILOS DE TODO --------------------------------*/

#form_admin{
    /* border: 1px solid #000; */
    font-family: Verdana;
    font-size: 12px;
    

}
#form_admin tr{
    background-color: white;
}

#form_admin .texto_label{  
    padding:0px;
    margin-top:10px;
    margin-bottom:-10px;
    vertical-align:middle;
    font-size: 5px;

}

#form_admin2{
    font-family: Verdana,Arial,sans-serif;


    /* border: 1px solid #d8d8d8;
     background-color: #f1f1f1;
     font-family: Verdana;
     font-size: 12px;
     padding: 20px;
    */
}


#form_admin2 label{
    font-size: 14px;
    font-weight: bold;


}

#form_admin2 .error{
    font-size: 12px;



}

#fondo_ingreso{

    /* background-color: #fff; */
    background-image: url('../img/privado/fondo.jpg');
      background-repeat: repeat-x;
      background-attachment: fixed;
      background-position: center top;
}

#caja1{
    /* background-color: #a9b8bf; */
    background-color: #fff;
    /* border: 2px solid #768d98; */
    border-radius:10px;
    width: 420px;

    overflow:hidden;
    text-align:left;

    margin-left:auto;margin-right:auto;

    padding: 35px;



}
.habilitado{
    background: url("../img/sip.png")  no-repeat center;
    width: 10px;
    height: 10px;
}
.deshabilitado{
    background: url("../img/nop.png")  no-repeat center;
    width: 10px;
    height: 10px;
}
.flecha1{
    font-size: 24px;
    /* color: #042373; */
    color: #ffffff;

}
.flecha2{
    font-size: 36px;
    /* color: #0f2d7c; */
    color: #5F5846;

}
.t_ingreso{
    font-family: Verdana,Arial,sans-serif;
    font-size: 18px;

}
.check{
    /*
    border: solid 1px #7ea04a;
    background-color: #7ea04a;*/
}
.boton1 {
    /*background-position:center bottom;*/
    background-color: #f1f1f1;
    border:solid 1px #d8d8d8;
    cursor:pointer;
    font:18px arial,sans-serif;
    /*height:30px;*/
    /*margin:0;*/
    vertical-align:top;

}

.texto_aviso1{    
    font-style: italic;
}
.texto2{
    color: #737373;
    font-size: 11px;
    font-family: Verdana,Arial,sans-serif;
    font-style: italic;
}
.aviso1{
    background-color: #AFA694;
    font-style: italic;
    font-size: 13px;
    /* color: #042373; */
    color: #ffffff;
    font-weight:800;
    padding-bottom: 5px;
    padding-left: 10px;

}

.aviso2{
    border:solid 1px #a9b8bf;
    background-color: #a9b8bf;
    font-style: italic;
    font-size: 12px;
    color: #fff;
    padding-bottom: 5px;

}
.aviso3{
    /*font-style: italic;*/
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
    color: #a9b8bf;
    /*padding: 5px;*/
    font-weight: bold;

}

.menu_activo{
    /* background-color: #bdaf8c; */
    background-color: #EC673B;
}

/*
label{
        display:inline;
        padding:5px;
        border-color:#CCCCCC #999999 #999999 #CCCCCC;
    border-style:solid;
    border-width:1px;
}
*/
.linea1{
    /* border-bottom: solid 1px #0f2d7c;*/
    border-bottom: solid 1px #AD1C62;
}
label{
    /*display:inline;*/
    padding:5px 5px;
    vertical-align:middle;
    font-size: 14px;

}

.input1{

    display:inline;
    padding:5px;
    /* border-color:#CCCCCC #999999 #999999 #CCCCCC; */
    border-color:#ececec;
    border-style:solid;
    border-width:1px;
    font:16px arial,sans-serif;
    /*height:25px;*/
    background-color:#fcfcfc;
    
    border-radius: 10px;
    
}
.input2{

    display:inline;
    padding:3px;
    border-color:#CCCCCC #999999 #999999 #CCCCCC;
    border-style:solid;
    border-width:1px;
    font:14px arial,sans-serif;
    font-weight: bold;
    background-color: #ccd5ec;
    /*height:25px;*/
}
.input_enlace{

    display:inline;
    padding:2px;
    border-color:#CCCCCC #999999 #999999 #CCCCCC;
    border-style:solid;
    /*border:none;*/
    font:12px arial,sans-serif;
    background-color: transparent;
}

.text1{
    display:inline;
    padding:5px;
    border-color:#CCCCCC #999999 #999999 #CCCCCC;
    border-style:solid;
    border-width:1px;
    font:12px Verdana,Arial,sans-serif;

}
.text2{
    font:14px Verdana,Arial,sans-serif;
    font-weight: bold;

}
.text3{
    font:14px Verdana,Arial,sans-serif;
    font-weight: bold;
    //color: #a9b8bf;
    color: #fff;
}
.text4{
    font:12px Verdana,Arial,sans-serif;
    color: #a9b8bf;

}




/*
.input1{

    border-color:#CCCCCC #999999 #999999 #CCCCCC;
    border-style:solid;
    border-width:1px;
    font:18px arial,sans-serif;
    height:25px;
    margin:0;
    padding:5px 8px 0 6px;
    vertical-align:top;
    
}*/
div.error{
    /*background-color:#cde8f5;*/
    /*margin-top:5px;
    margin-bottom: 5px;*/
    /*padding:0px 5px;*/
    /*width:100%;*/
    font-size: 11px;
    font-style: italic;
    color: #cd0101;
}


.enlace_nuevo{
    background: url("../img/nuevo.png")  no-repeat left top;
    font-family: Arial,Verdana,Tahoma;
    font-weight:bold;
    font-size: 12px;
    color: #000;
    padding: 6px 0px 9px 39px;

}
.enlace_nuevo1{
    background: url("../img/agregar.png")  no-repeat left center;
    font-family: Arial,Verdana,Tahoma;
    font-weight:bold;
    font-size: 12px;
    color: #000;
    padding: 5px 0px 5px 20px;
}

.enlace_editar1{
    background: url("../img/nuevo.png")  no-repeat left top;
    font-family: Arial,Verdana,Tahoma;
    font-weight:bold;
    font-size: 12px;
    color: #000;
    padding: 2px 0px 5px 40px;

}

.enlace_listar{
    background: url("../img/listar.png")  no-repeat left top;
    font-family: Arial,Verdana,Tahoma;
    font-weight:bold;
    font-size: 12px;
    color: #000;
    padding: 6px 0px 9px 41px;
}
.enlace_exportar{
    background: url("../img/exportar.png")  no-repeat left top;
    font-family: Arial,Verdana,Tahoma;
    font-weight:bold;
    font-size: 12px;
    color: #6781C5;
    padding: 5px 0px 7px 30px;
    border: 0px;
    cursor: pointer;

}
.enlace_exportar:hover{
    text-decoration: underline;
    color: #a9b8bf;
}

.enlace_bien{
    background: url("../img/bien.png")  no-repeat left top;
    font-family: Arial,Verdana,Tahoma;
    font-weight:bold;
    font-size: 12px;
    color: #000;
    padding: 6px 0px 10px 39px;
}

.enlace_cancelar{
    background: url("../img/cancelar.png")  no-repeat left top;
    font-family: Arial,Verdana,Tahoma;
    font-weight:bold;
    font-size: 12px;
    color: #000;
    padding: 6px 0px 10px 39px;
}

.enlace_retornar{
    background: url("../img/retornar.png")  no-repeat left top;
    font-family: Arial,Verdana,Tahoma;
    font-weight:bold;
    font-size: 12px;
    color: #000;
    padding: 6px 5px 14px 31px;

}

.tabla_cabeza{
    color: #000;
}
.tabla2{
    background-color: #dcd7d1;
}
.titulo_cliente{
    font-family: Arial;
    font-size: 25px;
    font-weight: 600;
    /* color: #966901; */
    color: #fff;
    padding: 25px 20px 25px 20px;
    background-color: rgba(236, 103, 59, 0.8);
    width:520px;
}
.titulo1{
    font-family: Verdana, arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0px 5px 20px;



}
.texto_session{

    font-size: 12px;
    text-align: right;
    padding: 0px 20px;

}
.cuadro_usuario{
    text-align: right;
    padding: 10px 20px;


}

.borde_curvas_1
{
    background-color:#2063ac; width:70%; border:solid 1px #e8eae9; padding:10px 10px;

    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    border-radius:10px 10px 10px 10px;

}
.borde_curvas
{
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    border-radius:10px 10px 10px 10px;
}



.borde_curvas_arriba
{
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-top-left-radius:10px;
    border-radius:10px 10px 0px 0px;
}
.fondo1{background:#cddfe9; width:70%; border:solid 1px #e8eae9; padding:10px 10px;}
.fondo2{background:#d1d1d1; border:solid 1px #e8eae9; padding:10px 10px;}
.fondo3{background:#e9e9e9; border:solid 1px #e8eae9; padding:10px 10px;}

.folder1{

    background: url("../img/folder1.png")  no-repeat left;
    width: 120px;
    height: 100px;
    padding-top: 50px;
    /*padding-right: 30px;*/
    padding-left: 0px;
    text-align: center;

}
.imagen1{
    border: solid 2px #fad34e;
}
.espacio{
    width: 100%;
    height:10px;
    float: left;
}

.paginacion_lista{
    width: 100%;
    text-align: right;
    padding: 5px 10px;

}
/****************enlaces */
a.enlace_a1:link,a.enlace_a1:visited , a.enlace_a1:active{

    font-family: Arial,Verdana,Tahoma;
    font-size: 12px;
    color: #6781c5;
    text-decoration: none;

}
a.enlace_a1:hover {

    font-family: Arial,Verdana,Tahoma;
    font-size: 12px;
    color: #a9b8bf;
    text-decoration: underline;


}


a.enlace_a2:link,a.enlace_a2:visited,a.enlace_a2:active {
    font-family: Calibri,'MS Sans Serif',Verdana,Arial,sans-serif;
    font-size: 10px;

    color: #0f2d7c;
    font-weight: bold;

    padding: 5px 0px;
    text-decoration: none;

}
a.enlace_a2:hover {
    font-family: Calibri,'MS Sans Serif',Verdana,Arial,sans-serif;
    font-size: 10px;

    color: #a9b8bf;
    font-weight: bold;

    padding: 5px 0px;
    text-decoration: underline;


}
a.enlace_a3:link,a.enlace_a3:visited , a.enlace_a3:active{

    font-family: Arial,Verdana,Tahoma;
    font-size: 18px;
    color: #6781c5;
    text-decoration: none;

}
a.enlace_a3:hover {

    font-family: Arial,Verdana,Tahoma;
    color: #a9b8bf;
    text-decoration: underline;


}
a.enlace_a4:link,a.enlace_a4:visited , a.enlace_a4:active{

    font-family: Arial,Verdana,Tahoma;
    font-size: 18px;
    color: #6781c5;
    text-decoration: none;        
}
a.enlace_a4:hover {

    font-family: Arial,Verdana,Tahoma;
    color: #a9b8bf;
    text-decoration: underline;


}
a.enlace_etapas:link,a.enlace_etapas:visited , a.enlace_etapas:active{
    font-family: Arial,Verdana,Tahoma;
    font-size: 18px;
    text-decoration: none;
}
a.enlace_etapas:hover {     
    text-decoration: underline;
}
.enlace_etapas_activo {
    font-family: Arial,Verdana,Tahoma;
    font-size: 18px;
    color: #0000ff;
    text-decoration: underline;
}
.enlace_descargar{         
    color: #2063ac;
    font-size: 12px;
    font-family: Verdana,Arial,sans-serif;
    text-decoration: none;
    font-style: italic;
}
.enlace_descargar a{
    text-decoration: none;
}
.titulo2{
    color: #2063ac;
    font-size: 18px;
    font-family: Verdana,Arial,sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
    padding: 5px 0px 10px 0px;               
}
.titulo3{
    color: #2063ac;
    font-size: 16px;
    font-family: Verdana,Arial,sans-serif;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px 0px 5px 0px;
    text-align: left;
    margin-left: 50px;            
}
.titulo4{
    color: #2063ac;
    font-size: 14px;
    font-family: Verdana,Arial,sans-serif;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px 20px 5px 0px;        
    text-align: left;
    margin-left: 100px;

}
.boton_datos_normal{
    background: transparent url("../img/botones/datos_normal.jpg") no-repeat top left;
    width: 162px;
    height: 20px;
    padding-top: 6px;
}
.boton_informacion_normal{
    background: transparent url("../img/botones/informacion_normal.jpg") no-repeat top left;
    width: 187px;
    height: 20px;
    padding-top: 6px;
}
.boton_instruccion_normal{
    background: transparent url("../img/botones/instruccion_normal.jpg") no-repeat top left;
    width: 172px;
    height: 20px;
    padding-top: 6px;
}
.boton_trayectoria_normal{
    background: transparent url("../img/botones/trayectoria_normal.jpg") no-repeat top left;
    width: 179px;
    height: 20px;
    padding-top: 6px;
}
.boton_datos_over{
    background: transparent url("../img/botones/datos_over.jpg") no-repeat top left;
    width: 162px;
    height: 32px;
}
.boton_informacion_over{
    background: transparent url("../img/botones/informacion_over.jpg") no-repeat top left;
    width: 187px;
    height: 32px;
}
.boton_instruccion_over{
    background: transparent url("../img/botones/instruccion_over.jpg") no-repeat top left;
    width: 172px;
    height: 32px;
}
.boton_trayectoria_over{
    background: transparent url("../img/botones/trayectoria_over.jpg") no-repeat top left;
    width: 179px;
    height: 32px;
}
.enlace_botones_form{    
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: block;
    overflow: hidden;
}
.imagen_der{
    display: inline;
    float: right;
}
.imagen_izq{
    display: inline;
    float: left;
}
.imagen_cen{
    display:block;
    text-align: center;
}

.scrollh {
    /*width: 1200px;*/
    width: 100%;
    overflow:auto;
    overflow-x:scroll; 
    overflow-y:hidden;
}

/* ----------------------- FIN ESTILOS DE TODO --------------------------------*/

/*para las alertas en los combos de disponibilidad*/
.alerta
{
    color: red;
}
.alerta-correcta
{
    color:#0f2d7c;
    font-weight: bold;
    /*    color:#cfbd76;*/
    margin: 10px;
}
.alerta-incorrecta
{
    color:#c84233;
    margin: 10px;
}
.alerta-incorrecta-criterios
{
    color:#c84233;
    font-weight: bold;
    margin: 10px 0;
}
#ms-criterios
{
    width: 600px;
}
#ms-criterios .ms-selectable ul, #ms-criterios .ms-selection ul
{
    height: 300px;
    text-align: left;
}
.limpiar-espacio
{
    clear: both;
    height: 5px;
}
/*.div-criterio1
{
    float: left;width: 32%;
    text-align: left;
}
.div-criterio2
{
    float: left;width: 30%;
    text-align: left;
}
para alinear*/
.contenedor-criterios
{
    text-align: center;
}
.div-criterio1, .div-criterio2
{
    /*width: 32%;*/
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.div-criterio1
{
    width: 15%;
    text-align: right !important;
    /*width: 32%;*/
}
.div-criterio2
{
    width: 50%;
    /*width: 32%;*/

}
#ms-cargo
{
    width: 850px;
}
.ms-optgroup-label
{
    font-weight: bold;
    font-size: 14px;
    color: #000000 !important;

}
.contenedor-cargos
{
    margin: 3px;

}
.contenedor-cargos input{
    margin: 3px;
}

.ocultarTexto
{
    display: none;
}

/* ----------------------- ESTILOS 2021 ----------------------- */
.login-label{
    font-size:13px;
    margin-bottom:0px;
    margin-top:10px;
}
.form-label-21{
    font-size:13px;
    margin-bottom:5px;
    margin-left:15px;
    margin-left:15px;
    margin-top:10px;
}
.form-label-conv-21{
    font-size:13px;
    margin-bottom:5px;
    margin-top:10px;
}
.w-100{
    width:100%;
}

.form-select-21{
    border-radius:10px;height:25px;border:1px solid #ececec;background-color:#fcfcfc;width:100%;

}
.form-select2-21{
    border-radius:10px;height:25px;border:1px solid #ececec;background-color:#fcfcfc;width:100%;

}
select{
    border-radius:10px;height:25px;border:1px solid #ececec;background-color:#fcfcfc;width:100%;

}

/*agregado por el posicionamiento del submenu plantillas*/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: initial;
}